<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Overview</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen w-screen bg-[#f2f5f9]">
    <div class="p-8 max-w-6xl mx-auto w-full h-auto">
      <div class="flex flex-col space-y-4">
        <a th:href="@{/wishlists}" class="text-blue-500 font-bold text-md"
          >Tilbage</a
        >
        <div
          th:replace="fragments/navbar/WishesNavbar.html :: WishesNavbar(${wishlist.getTitle()}, ${wishlist.getId()})"
        />
        <div
          class="grid gap-10 md:grid-cols-2 lg:grid-cols-3 place-items-center h-full w-full"
        >
          <div
            th:each="w : ${wishes}"
            class="w-full h-[250px] rounded-md bg-white shadow-lg"
          >
            <div th:replace="fragments/cards/WishCard.html :: wish(${w})" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
