/* .body__setup {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 100%;
  height: auto;
}

.wishlist__grid__setup {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  height: 100%;
  width: 100%;
}

.wishlist__card__setup {
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #202225;
} */
